/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

/*==================== VARIABLES CSS ====================*/
:root {
  /*========== Colors ==========*/
  /*======= Primary(60%), Secondary(40%), Acent(10%) =======*/
  --clr-primary: hsl(0, 0%, 90%);
  --clr-acent1: hsl(0, 78%, 62%);
  --clr-acent2: hsl(180, 62%, 55%);
  --clr-acent3: hsl(34, 97%, 64%);
  --clr-acent4: hsl(212, 86%, 64%);

  /*======= Neutral Colors =======*/
  --clr-neutral-1: hsl(229, 6%, 66%);
  --clr-neutral-2: hsl(234, 12%, 34%);
  --clr-neutral-3: #fafafa;

  /*========== Font size and typography ==========*/
  /*======= Font Family =======*/
  --ff-primary: "Poppins", sans-serif;

  /*======= Font size =======*/
  --fs-primary: 26px;
  --fs-secondary: 1.375rem;
  --fs-tertiary: 1.188rem;
  --fs-body: 0.875rem;
  --fs-small: 0.75rem;

  /*========== Font weight ==========*/
  --fw-thin: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;
  --fw-extra-bold: 900;
}

/*FONT SIZE FOR LARGES DEVICES */
@media (min-width: 968px) {
  :root {
    --fs-primary: 2.5rem;
    --fs-secondary: 2.063rem;
    --fs-tertiary: 1.688rem;
    --fs-body: 1rem;
    --fs-small: 0.875rem;
  }
}

/*=============== RESET ===============*/
/* Box sizing rules */
*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Set core body defaults */
body {
  height: 100vh;
  text-rendering: optimizeSpeed;
  text-align: center;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  font-weight: var(--fw-regular);
  line-height: 1.5;
  background-color: var(--clr-primary);
  color: var(--clr-neutral-1);
}

h1,
h2,
h3 {
  font-family: var(--ff-title);
  font-weight: var(--fw-bold);
  line-height: 1.3;
  color: var(--clr-neutral-2);
}

img,
picture,
video,
canvas,
svg {
  max-width: 100%;
  height: auto;
  display: block;
}

article {
    display: block;
}
/* GENERAL STYLES */

/* RESUSABLES FEATURE STYLES */
.feature {
  max-width: 1200px;
  margin: 60px 1rem 1rem;
  display: grid;
  gap: 40px;
}

.feature-paragraph {
    font-size: 15px;
}

.big-title {
  font-size: var(--fs-primary);
}

.h1--weight-regular {
  font-weight: var(--fw-regular);
}

.h1--weight-bold {
  font-weight: var(--fw-bold);
}

/* REUSABLE CARD STYLES */
.cards{
    display: grid;
    gap: 32px;
    text-align: left;
}

.cards > div {
    padding: 40px;
    background-color: var(--clr-neutral-3);
    border-radius: 5px;
    box-shadow: 0px 20px 40px hsla(0, 0%, 20%, 0.2);
}

.card-title {
    font-size: var(--fs-secondary);
}

.card-paragraph {
    font-size: 13px;
}



